<div class="jumbotron">
  <div class="container">
    <% if user_signed_in? %>
      <h1 class="display-3">Bonjour, <%= current_user.first_name %> </h1>
    <% else %>
        <h1 class="display-3">Bonjour, </h1>
    <% end %>
    <h3>Voici les événements organisés près de chez vous.</h3>
    <% if user_signed_in? %>
    <%= link_to "Créer un événement", new_event_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row" style="word-wrap: break-word;" >
  <% Event.all.each.with_index do |event| %>
    <% if event.validated %>
    <div class="col-md-4">
      <h2 class="card-title"> Titre: <%= event.title %></h2>
      <p> <%= event.description %> </p>
      <%= link_to "Voir les détails", event_path(event.id), class: "btn btn-secondary" %>
    </div>
    <% end %> 
  <% end %> 
<hr>
</div>
</div>