<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>
      <%= form_tag events_path, html: { class: "form-signin mt-3" }, method: "post", multipart: true do %>
        <h1 class="h3 mb-3 font-weight-normal text-center">Créer un événement</h1>
        <%= hidden_field_tag 'admin_id', current_user.id %>
        <%= hidden_field_tag 'validated', nil %>
        <p>Titre: </p>
        <%= text_field_tag 'title', "", class: 'form-control' %>
        <p>Description: </p>
        <%= text_area_tag 'description', "", class: 'form-control' %>
        <p>Illustration: </p>
        <%= file_field_tag :image %>
        <p>Date: </p>
        <%= datetime_local_field_tag 'start_date', "", class: 'form-control' %>        
        <p>Durée (en minute par palier de 5 minutes): </p>
        <%= number_field_tag 'duration', "", class: 'form-control', in: 0..1440, step: 5 %>
        <p>Ville: </p>
        <%= text_field_tag 'location', "", class: 'form-control' %>
        <p>Prix (entre 1 et 1000€): </p>
        <%= number_field_tag 'price', "", class: 'form-control', in: 1..1000, step: 1 %>
        <br>
        <%= submit_tag "Envoyer",  class: "btn btn-lg btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>
