<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>
      <%= form_tag events_path, html: { class: "form-signin mt-3" }, method: "post" do %>
        <h1 class="h3 mb-3 font-weight-normal text-center">Créer un événement</h1>
        <%= hidden_field_tag 'admin_id', current_user.id %>
        <p>Titre: </p>
        <%= text_field_tag 'title', "", class: 'form-control' %>
        <p>Description: </p>
        <%= text_field_tag 'description', "", class: 'form-control' %>
        <p>Date: </p>
        <%= text_field_tag 'start_date', "", class: 'form-control' %>
        <p>Durée: </p>
        <%= text_field_tag 'duration', "", class: 'form-control' %>
        <p>Ville: </p>
        <%= text_field_tag 'location', "", class: 'form-control' %>
        <p>Prix: </p>
        <%= text_field_tag 'price', "", class: 'form-control' %>
        <br>
        <%= submit_tag "Envoyer",  class: "btn btn-lg btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>
